.overlay-image{
    z-index: 1000;
    right:-30vh;
    overflow: hidden;
}
.responsive {
  left: 0;
  max-width: 100%;
  height: auto;
}
.affix {
    position: fixed;
    top:15vh;
    opacity: 1;
  }
  
.affix-top {
    position: static;
    opacity: 0.8;
  }
@media screen and (max-width: 900px) { 

    .overlay-image { display: none; }  
    }